@import '../../assets/scss/colors.scss';

@mixin button-primary {
  background: $dark;
  border: none;
  padding: .5rem 1rem;
  border-radius: .5rem;
  box-shadow: .1rem .1rem .2rem $dark;
  transition: all .1s;
  font-size: 1.6rem;
  &:hover {
    transform: translate(-.1rem, -.1rem);
  }
}

@mixin button-accent {
  background: $accent;
  border: none;
  padding: .5rem 1rem;
  border-radius: .5rem;
  box-shadow: .1rem .1rem .2rem $dark;
  transition: all .1s;
  font-size: 1.6rem;
  &:hover {
    transform: translate(-.1rem, -.1rem);
  }
}