// https://colorhunt.co/palette/eff5f5d6e4e5497174eb6440
$light: #EFF5F5;
$middle: #D6E4E5;
$dark: #497174;
$accent: #EB6440;

$font-color-main: #000000;
$font-color-middle: #a4a8a8;
$font-color-light: #EFF5F5;