// https://colorhunt.co/palette/f5efe6e8dfcaaebdca7895b2
$light: #f6f4f4;
$middle: #E8DFCA;
$dark: #545f67;
$accent: #7895B2;

$font-color-main: #000000;
$font-color-middle: #a4a8a8;
$font-color-light: #F5EFE6;