@import "../../assets/scss/colors";
@import "../../assets/scss/buttons";
@import "../../assets/scss/empty";

.cart__items {
  width: 90%;
  margin: auto;
}
.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: .1rem solid $dark;
  border-radius: .5rem;
  margin: 1rem 0;
  input {
    width: 4rem;
    border: none;
    border-radius: .5rem;
    margin: 0 .5rem;
    padding: .5rem;
  }
  button {
    @include button-accent;
    margin: 0 auto;
  }
}
.cart__item-title {
  width: auto;
  margin: .5rem 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cart__item-quantity {
  flex: none;
  padding: .5rem 1rem;
  background: $dark;
  color: $font-color-light;
  width: 15rem;
  display: flex;
  justify-content: space-between;
}

.empty__cart {
  @include empty;
  background-image: url("../../assets/images/pexels-sora-shimazaki-5926227.jpg");
}