@import '../../assets/scss/colors.scss';

section {
  display: flex;
  img {
    width: 12rem;
    height: 12rem;
  }
}

section {
  height: calc(100vh - 6rem);
  width: 100%;
  background: $middle;
  margin: .5rem auto;
  position: relative;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
}
.left {
  background: $light;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: initial;
  overflow: hidden;
}
@keyframes fadeIn {
  from {width: 30%; opacity: 0}
  to {width: 50%; opacity: .7}
}
.right {
  width: 70%;
}
@media (max-width: 480px) {
  section {
    flex-direction: column;
    .left {
      width: 100%;
      margin: 30% 0;
      padding: 2rem 0;
      animation: none;
    }
    .right {
      display: none;
    }
  }
}