@import "../../assets/scss/colors";
@import "../../assets/scss/buttons";

.item {
  width: 20rem;
  height: 30rem;
  border-radius: .5rem;
  box-shadow: .1rem .1rem .5rem $dark;
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5rem;
  transition: all .3s ease-in-out;
  cursor: pointer;
  h4 {
    height: 2rem;
    //overflow: hidden;
    //white-space: nowrap;
    //text-overflow: ellipsis;
  }
  img {
    display: block;
    margin: auto;
    max-width: 15rem;
    height: 12rem;
    border-radius: .5rem;
  }
  button {
    margin: auto;
    width: fit-content;
  }
  &:hover {
    scale: 1.01;
  }
}

.item__info {
  height: 12rem;
  overflow: hidden;
}

.item__price {
  align-self: center;
  padding: .3rem;
  border-radius: .3rem;
}

button {
  @include button-primary;
}

@media (max-width: 700px) {
  .item {
    width: 16rem;
  }
}