@import "./assets/scss/colors";

:root {
  font-family: "Droid Sans", sans-serif;
  font-size: 10px;
}

body {
  padding: .5rem 2rem;
  margin: 0;
  background: $light;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
}

a {
  color: $font-color-main;
  font-size: inherit;
  text-decoration: none;

  &:hover {
    color: $font-color-main;
  }
}

.error {
  color: $accent;
  font-size: 1.2rem;
  text-align: center;
}

@media (max-width: 700px) {
  body {
    padding: .5rem;
  }
}